.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #030303;
}

.login,
.signup {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #7e7c7c;
    border-radius: 5px;
}

.error {
    color: rgb(81, 3, 3);
    font-size: 14px;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #0099ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

